In [4]:
%cd "E:\AIML\DAY 25"

E:\AIML\DAY 25

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("train.csv")

In [7]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [10]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
from sklearn import preprocessing

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
from sklearn.naive_bayes import GaussianNB

In [15]:
from sklearn.metrics import confusion_matrix

In [16]:
l = preprocessing.LabelEncoder()

In [17]:
l.fit(data["Sex"])

LabelEncoder()

In [37]:
data["Sex"]=l.transform(data["Sex"])

In [58]:
l.fit(data["Embarked"])

LabelEncoder()

In [59]:
data["Embarked"]=l.transform(data["Embarked"])

In [61]:
print(l.classes_)

['C' 'Q' 'S']

In [62]:
y = data["Survived"]

In [63]:
X = data[["Pclass","Sex","SibSp","Parch","Embarked"]]

In [64]:
y.count()

889

In [65]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=0)

In [66]:
X_train.head()

     Pclass  Sex  SibSp  Parch  Embarked
350       1    1      0      0         2
124       3    1      1      0         0
577       3    0      1      0         0
422       3    0      1      1         2
118       3    0      4      2         2

In [67]:
from sklearn.naive_bayes import *

In [68]:
clf = BernoulliNB()

In [69]:
y_pred = clf.fit(X_train,y_train).predict(X_test)

In [73]:
from sklearn.metrics import accuracy_score

In [74]:
accuracy_score (y_test,y_pred,normalize=True)

0.7715355805243446

In [75]:
y1 = data["Pclass"]

In [76]:
X1 = data[["Survived","Sex","SibSp","Parch","Embarked"]]

In [77]:
X1_train,X1_test,y1_train,y1_test= train_test_split(X1,y1,test_size=0.3,random_state=0)

In [78]:
X1_train.head()

     Survived  Sex  SibSp  Parch  Embarked
350         0    1      0      0         2
124         1    1      1      0         0
577         0    0      1      0         0
422         0    0      1      1         2
118         0    0      4      2         2

In [80]:
y1_pred = clf.fit(X1_train,y1_train).predict(X1_test)

In [81]:
accuracy_score (y1_test,y1_pred,normalize=True)

0.5880149812734082

In [84]:
y2 = data["Sex"]

In [85]:
X2 = data[["Survived","Pclass","SibSp","Parch","Embarked"]]

In [86]:
X2_train,X2_test,y2_train,y2_test= train_test_split(X2,y2,test_size=0.3,random_state=0)

In [87]:
X2_train.head()

     Survived  Pclass  SibSp  Parch  Embarked
350         0       1      0      0         2
124         1       3      1      0         0
577         0       3      1      0         0
422         0       3      1      1         2
118         0       3      4      2         2

In [89]:
y2_pred = clf.fit(X2_train,y2_train).predict(X2_test)

In [90]:
accuracy_score (y2_test,y2_pred,normalize=True)

0.7453183520599251

In [92]:
y3 = data["SibSp"]

In [93]:
X3 = data[["Survived","Pclass","Sex","Parch","Embarked"]]

In [94]:
X3_train,X3_test,y3_train,y3_test= train_test_split(X3,y3,test_size=0.3,random_state=0)

In [95]:
X3_train.head()

     Survived  Pclass  Sex  Parch  Embarked
350         0       1    1      0         2
124         1       3    1      0         0
577         0       3    0      0         0
422         0       3    0      1         2
118         0       3    0      2         2

In [96]:
y3_pred = clf.fit(X3_train,y3_train).predict(X3_test)

In [97]:
accuracy_score (y3_test,y3_pred,normalize=True)

0.6891385767790262

In [99]:
y4 = data["Parch"]

In [101]:
X4 = data[["Survived","Pclass","Sex","SibSp","Embarked"]]

In [102]:
X4_train,X4_test,y4_train,y4_test= train_test_split(X4,y4,test_size=0.3,random_state=0)

In [103]:
X4_train.head()

     Survived  Pclass  Sex  SibSp  Embarked
350         0       1    1      0         2
124         1       3    1      1         0
577         0       3    0      1         0
422         0       3    0      1         2
118         0       3    0      4         2

In [104]:
y4_pred = clf.fit(X4_train,y4_train).predict(X4_test)

In [105]:
accuracy_score (y4_test,y4_pred,normalize=True)

0.7153558052434457

In [106]:
y5 = data["Embarked"]

In [107]:
X5 = data[["Survived","Pclass","Sex","SibSp","Parch"]]

In [108]:
X5_train,X5_test,y5_train,y5_test= train_test_split(X5,y5,test_size=0.3,random_state=0)

In [109]:
X5_train.head()

     Survived  Pclass  Sex  SibSp  Parch
350         0       1    1      0      0
124         1       3    1      1      0
577         0       3    0      1      0
422         0       3    0      1      1
118         0       3    0      4      2

In [110]:
y5_pred = clf.fit(X5_train,y5_train).predict(X5_test)

In [111]:
accuracy_score (y5_test,y5_pred,normalize=True)

0.7340823970037453