In [1]:
%cd "E:\AIML\DAY 24"

E:\AIML\DAY 24

In [3]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [4]:
data = pd.read_csv("general_data.csv")

In [6]:
data.head(5)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [7]:
data.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [8]:
data.TotalWorkingYears.fillna(method='bfill' ,inplace = True)

In [9]:
data.NumCompaniesWorked.fillna(method='bfill' ,inplace = True)

In [17]:
data.TotalWorkingYears.fillna(method='bfill' ,inplace = True)

In [18]:
data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          1
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [20]:
data.dropna(inplace=True)

In [21]:
data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Department']=le.fit_transform(data['Department'])
data['EducationField']=le.fit_transform(data['EducationField'])
data['JobRole']=le.fit_transform(data['JobRole'])
data['MaritalStatus']=le.fit_transform(data['MaritalStatus'])
data['Gender']=le.fit_transform(data['Gender'])
data['Attrition'] = le.fit_transform(data['Attrition'])

data['Over18'] = le.fit_transform(data['Over18'])
data['BusinessTravel']=le.fit_transform(data['BusinessTravel'])

In [26]:
rf_model = RandomForestClassifier(n_estimators=4000,max_features=2,oob_score=True)

In [23]:
features = ['Age',  'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [27]:
rf_model.fit(X = data[features],y=data["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=4000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [28]:
print(rf_model.oob_score_);

0.9997731911998186

In [29]:
for features,imp in zip(features,rf_model.feature_importances_):
    print(features,imp);

Age 0.09228514832894748
BusinessTravel 0.027247435431062048
Department 0.024967042658172126
DistanceFromHome 0.06673053109031746
Education 0.039274052822801296
EducationField 0.03991473546562113
EmployeeCount 0.0
EmployeeID 0.03760848363772638
Gender 0.017039477172271063
JobLevel 0.03632593863396825
JobRole 0.053545051340801036
MaritalStatus 0.038655993464088274
MonthlyIncome 0.08845557765784576
NumCompaniesWorked 0.054087473727315656
Over18 0.0
PercentSalaryHike 0.06281612679331582
StandardHours 0.0
StockOptionLevel 0.032586830858815675
TotalWorkingYears 0.08239757025287278
TrainingTimesLastYear 0.043631755628534746
YearsAtCompany 0.06728162593878707
YearsSinceLastPromotion 0.042107239934258835
YearsWithCurrManager 0.05304190916247722

Age,DistanceFromHome,Education,EducationField,JobRole,MonthlyIncome ,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,YearsAtCompany,YearsWithCurrManager,YearsSinceLastPromotion,data['']

In [38]:
model = tree.DecisionTreeClassifier()

In [48]:
wrt = pd.DataFrame([data["Age"],data["DistanceFromHome"],data["Education"],data["EducationField"],data["JobRole"],data["MonthlyIncome"],data["NumCompaniesWorked"],data["PercentSalaryHike"],data["TotalWorkingYears"],data["YearsAtCompany"],data["YearsWithCurrManager"],data["YearsSinceLastPromotion"]]).T

In [49]:
model.fit(X= wrt,y = data["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [53]:
with open("ATree.dot",'w') as f:
    f = tree.export_graphviz(model,feature_names = ["Age","DistanceFromHome","Education","EducationField","JobRole","MonthlyIncome","NumCompaniesWorked","PercentSalaryHike","TotalWorkingYears","YearsAtCompany","YearsSinceLastPromotion","YearsWithCurrManager"],out_file = f);

In [54]:
model.score(X= wrt,y = data["Attrition"])

1.0