In [1]:
cd

C:\Users\rushi

In [2]:
%cd "E:\AIML\DAY12"

E:\AIML\DAY12

In [3]:
import pandas as pd

In [4]:
from scipy.stats import pearsonr

In [7]:
dataset=pd.read_excel("Correlation.xlsx",sheet_name=1)

In [8]:
dataset.head()

   Respondent Number  Attitude  Duration  Importance
0                  1         6        10           3
1                  2         9        12          11
2                  3         8        12           4
3                  4         3         4           1
4                  5        10        12          11